.typehint-wrapper {
    position: relative;
    display: inline-block;
}

.typehint {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    top: 45px;
    left: 0;
}

.typehint ul {
    background-color: white;
    list-style: none;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-before: 0.3em;
    -webkit-padding-after: 0.3em;
}

.typehint ul li {
    padding: 8px 10px 8px 10px;
    border-radius: 2px;
}

.typehint ul li:hover {
    background-color: cornflowerblue;
    color: whitesmoke;
    cursor: default;
}